body{
margin:25vh 0 0 0;
}


.button{
	margin:0 0 0 50%;
	transform:translate(-50%,0);
	padding:2vh 2vw;
	box-shadow:0 0 5px black;
	border-radius:10px;
	background:black;
	color:white;
	cursor:pointer;

}
.items{
	width:80vw;
	margin:5vh 0 0 50%;
	transform:translate(-50%,0);
}
.item_EVEN{
	background:rgba(0,0,0,0.25);
	padding:2vh 0 2vh 2vw ; 
	display:flex;
}

.item_ODD{
	background:none;
	padding:2vh 0 2vh 2vw ; 
	display:flex;
}

.operation{
	float:left;
	margin:0 0 0 100%;
	transform:translate(-200%,0); 
	padding:2vh 2vw;
	border-radius:10px;
	box-shadow:0 0 5px black;
	display:flex;
	align-items:center;
	text-align:center;
	cursor:pointer;
}
.update_button{
	margin:0 0 0 -25%;

}
